body {
  font-family: "Acme", sans-serif;
  width: 550px;
  height: 350px;
}
h1 {
  color: blue;
  font-size: 35px;
  text-align: center;
}
h2 {
  color: green;
  font-size: 25px;
}
h3 {
  text-transform: capitalize;
  color: green;
  font-size: 20px;
}
p {
  color: purple;
  text-align: center;
}
a {
  color: darkcyan;
}
.container {
  width: 500px;
  height: 300px;
  margin: 20px;
  border: solid 5px slateblue;
  background-image: linear-gradient(#2af598, #0fbed8);
}
.mainTemp {
  font-size: 50px;
}
.active {
  color: #0056b3;
}
